<html>
    <head>
        <link rel="stylesheet" href="view.css">

        <script>
            setInterval(updateTime, 500);

            function updateTime() {
                var dt = new Date();
                document.getElementById("time-text").innerHTML = dt.toLocaleTimeString();
            }
        </script>
    </head>
    <body>
        <div class="content">
            <span class="title">jmirror version 1.0</span>
            <div class="header">
                <div class="time">
                    <h1 id="time-text">12:00 AM</h1>
                </div>
                <div class="weather">
                    <script type='text/javascript' src='https://darksky.net/widget/small/37.3362,-121.8906/us12/en.js?width=100%&height=200&title=san jose&textColor=ffffff&bgColor=000000&transparency=true&skyColor=ffffff&fontFamily=Default&customFont=&units=us'></script>
                </div>
            </div>
            <div class="music-player">
                <iframe src="http://localhost/music_player/music_player.html" width="350" height="75" frameborder="0"></iframe>
            </div>
        </div>
    </body>
</html>