body {
    background-color: black;
}

.content {
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}

.time {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

.weather {
    position: absolute;
    top: 0;
    left: -60px;
    padding-top: 20px;
}

.header {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.app-launcher {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background-color: black;
    height: 75%;
    width: 100px;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.title {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.music-player {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
}